.button-show{
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 900;
  color: #fff;
  background-color: #F50057;
  border: 2px solid #F50057;
  cursor: pointer;
  width: max-content;
  transition: 0.25s ease;
}

.button-show:hover{
  color: #F50057;
  background-color: transparent;
}

.button-hide{
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 900;
  color: #fff;
  background-color: rgb(255, 137, 178);
  border: 2px solid rgb(255, 137, 178);
  cursor: pointer;
  width: max-content;
  transition: 0.25s ease;
}

.button-hide:hover{
  color: rgb(255, 137, 178);
  background-color: transparent;
}

.card{
  border: 3px solid #F50057 !important;
}

.main-separator{
  border-width: 3px;
  background-color: #F50057;
}

.comment-separator{
  border-width: 1px;
  background-color: #F50057;
}

.comment{
  font-size: 12px
}

.comment-name{
  font-weight: bold;
}

.comment-email{
  font-style: italic;
}